/* All common code is here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.word-color {
  color: #ff42a5;
}
img {
  width: 100%;
}
/* All common code is here */

/* Header section style here */
/* Nav section style here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 240px;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-logo h1 {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 700;
}
nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
nav ul li {
  color: #3c354f;
  text-align: center;
  font-size: 1.12rem;
  font-weight: 500;
}
.follow-us {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.youtube {
  margin-left: 20px;
  margin-right: 16px;
}
/* Nav section style here */

/* Banner section style here */
.banner {
  display: flex;
  gap: 68px;
  margin-bottom: 80px;
}
.banner-container {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 148px 309px 148px 244px;
}
.banner-content {
  width: 100%;
}
.banner-content h3 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-content h2 {
  font-size: 5.9rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 24px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-content ul li {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 17px;
}
.banner-content ul li i {
  margin-right: 12px;
}
.banner-button {
  display: flex;
  gap: 24px;
}
.banner-btn-1,
.banner-btn-2 {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 21px 40px;
  border: none;
  margin-top: 25px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-btn-2 {
  background-color: #ff42a5;
}

/* Banner section style here */
/* Header section style here */

/* Main section style here */
/* Funny videos section style here */
.funny-videos {
  padding: 2rem;
}
.funny-videos h3 {
  text-align: center;
  color: #0b0223;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.funny-videos .description {
  text-align: center;
  color: #534c64;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 45px;
}
.videos {
  padding: 0rem 1.5rem;
}
.card {
  padding-top: 0.8rem;
  padding-bottom: 1.5rem;
}
.card-img {
  position: relative;
}
.card-img {
  display: block;
  width: 100%;
  height: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  border: 2px solid #f948b2;
  border-radius: 1rem;
}
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card-img:hover .overlay {
  opacity: 1;
}
.card-img:hover .overlay-content {
  opacity: 1;
}
.image-description {
  margin-top: 33px;
  color: #534c64;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 30px;
}
/* Funny videos section style here */

/* Play instantly style here */
.play-instantly {
  text-align: center;
  padding: 0rem 5rem;
}
.play-instantly h3 {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 1.5rem;
}
.play-instantly p {
  color: #534c64;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 50px;
}

.image-1 {
  width: 300px;
  height: 330px;
}
.image-2 {
  position: relative;
  bottom: 100px;
  right: 130px;
  width: 120px;
  height: 130px;
}
/* Play instantly style here */

/* More games section here */
.more-games {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2rem;
  margin-bottom: 100px;
}
.games {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 50px;
  background: #fff;
}
.games:hover {
  border: 1px solid #ff42a5;
}
.games:hover h4 {
  color: #ff42a5;
}
.games-image {
  width: 30px;
  height: 30px;
}
.games h4 {
  color: #0b0223;
  font-size: 0.7rem;
  font-weight: 600;
}
/* More games section here */
/* Main section style here */

/* Footer section here */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0b0223;
  padding: 0 8rem;
}
.footer-logo {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0px;
}
.footer-logo img {
  width: 56px;
  height: 20px;
}
.footer-logo h1 {
  color: #0b0223;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}
footer ul li {
  font-size: 0.6rem;
  color: #fff;
  margin-bottom: 1rem;
}
.footer-icon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 30px 0px;
}
.footer-btn {
  color: #fff;
  background: transparent;
  border: none;
  font-size: 1rem;
}
.rules-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.rules-list li {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.5rem;
  font-weight: 500;
}
small {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 0.5rem;
  font-weight: 500;
  margin: 20px 0px;
}
/* Footer section here */

/* Responsive style here */
@media screen and (max-width: 576px) {
  /* Responsive nav */
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
  .follow-us {
    width: 262px;
    margin-top: 22px;
  }
  /* Responsive nav */

  /* Responsive banner */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-size: cover;
  }
  .banner-container {
    /* text-align: justify; */
    width: 100%;
    /* height: 100%; */
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-clip: content-box; */
    background-size: cover;
    padding: 30px;
    padding-left: 70px;
  }

  .banner-container h3 {
    font-size: 1.5rem;
  }
  .banner-container h2 {
    font-size: 3.9rem;
  }
  .banner-btn-1,
  .banner-btn-2 {
    padding: 11px 20px;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner-image {
    width: 100%;
    text-align: center;
  }
  /* Responsive banner */
}

/* Responsive for Desktop */
@media screen and (min-width: 992px) {
  /* Responsive funny videos section */
  .funny-videos h3 {
    font-size: 3rem;
  }
  .funny-videos .description {
    font-size: 1.24rem;
  }
  .card {
    width: 342px;
  }
  .videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .image-description {
    height: 60px;
    font-size: 20px;
  }
  /* Responsive funny videos section */

  /* Responsive play instantly section */
  .play-instantly {
    display: flex;
    gap: 265px;
    padding: 70px 230px 0px 419px;
  }
  .play-instantly-content {
    width: 345px;
    text-align: right;
    padding-top:150px;
  }
  .play-instantly-content h3 {
    font-size: 3rem;
    line-height: 60px;
  }
  .play-instantly-content p {
    font-size: 1.25rem;
    line-height: 30px;
  }
  .image-1 {
    width: 634px;
    height: 650px;
  }
  .image-2 {
    width: 318px;
    height: 365px;
    position: relative;
    bottom: 250px;
    right: 300px;
  }
  /* Responsive play instantly section */

  /* Responsive more game section */
  .more-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0rem 10rem;
  }
  .games img {
    width: 60px;
    height: 60px;
  }
  .games h4 {
    font-size: 20px;
  }
  /* Responsive more game section */

  /* Responsive footer section */
  .footer-logo img {
    width: 86px;
    height: 40px;
  }
  .footer-logo h1 {
    font-size: 2.8rem;
  }

  footer ul li {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  .footer-icon {
    grid-template-columns: repeat(6, 1fr);
    margin: 40px 0px;
  }
  .footer-btn {
    font-size: 2rem;
  }
  .rules-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .rules-list li {
    font-size: 0.8rem;
  }
  small {
    font-size: 0.8rem;
  }
  /* Responsive footer section */
}
/* Responsive for Desktop */

/* Tablet view */
/* 800px is the tablet rotate screen size */
@media screen and (min-width: 576px) and (max-width: 800px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
  .follow-us {
    width: 262px;
    margin-top: 22px;
  }
  /* Responsive nav */

  /* Responsive banner */
  .banner {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-size: cover;
  }
  .banner-container {
    /* text-align: justify; */
    width: 100%;
    /* height: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    /* background-clip: content-box; */
    background-size: cover;
    padding: 100px;
    padding-left: 150px;
  }

  .banner-container h3 {
    font-size: 1.5rem;
  }
  .banner-container h2 {
    font-size: 3.9rem;
  }
  .banner-btn-1,
  .banner-btn-2 {
    padding: 11px 20px;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner-image {
    width: 100%;
    text-align: center;
  }
  /* Responsive banner */
}
/* Tablet view */
/* Responsive style here */
